# ignore everything
*

# allow dirs (necessário para traversal)
!.config/
!.config/zsh/
!.config/fastfetch/
!.local/
!.local/bin/

# allow files
!.gitignore
!.zshrc
!.config/starship.toml

# allow contents
!.config/zsh/**
!.config/fastfetch/**
!.local/bin/**
