.bash_history
.bash_logout
.bash_profile
.cache/
.config/autostart
.config/dconf
.config/enchant
.config/evolution
.config/gnome-control-center
.config/gnome-initial-setup-done
.config/gnome-session
.config/GNOME-xdg-terminals.list
.config/goa-1.0
.config/gtk-3.0
.config/gtk-4.0
.config/ibus
.config/mimeapps.list
.config/nautilus
.config/pulse
.config/gh
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.config/.gsd-keyboard.settings-ported
.emacs.d/auto-save-list
.emacs.d/eln-cache
.emacs.d/elpa
.emacs.d/emojis
.emacs.d/config/dashboard-config.el~
.emacs.d/config/gui-config.el~
.emacs.d/config/markdown-config.el~
.emacs.d/config/melpa-config.el~
.emacs.d/enit.el~
.emacs.d/enit.el
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/snippets
.face
.face.icon
.git
.gitconfig
.gitignore
.gnupg/
.local/
.mozilla/
.profile
.pyenv/
.python_history
.ssh/
.sudo_as_admin_successful
.wakatime/
.wget-hsts
.wakatime.bdb
Downloads/
Desktop/
Documents/
Music/
Pictures/
Public/
Templates/
Videos/

